/*
fonts:
  headings sans-serif: Raleway;
  body serif: Aref ruqaa;

colors:
  dark gray: #5C5C5C
  light gray: #D9D9D9
  dark red: #8C1717
  */

body {
  background-image: url("https://static.pexels.com/photos/51000/trees-mist-fog-eerie-51000.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#title_image {
  text-align: center;
  font-family: serif;
  font-size: 40pt;
  color: #3D3D3D;
  width: 100%;
  margin: 0 auto;
  padding-top: 18px;
  background: -webkit-linear-gradient(white, transparent);
  background:    -moz-linear-gradient(white, transparent);
  background:         linear-gradient(white, transparent);
  height: 500px;
}

h1 {
  margin: 0;
}


#title_image p {
  text-align: center;
  font-family: serif;
  font-size: 14pt;
  color: #8C1717;
}

#player_input {
  background-color: rgba(255, 255, 255, .6);
  padding: 2px;
  font-family: Raleway;
  color: #5C5C5C;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  position: relative;
  bottom: 360px;
}


#welcome_message {
  font-family: Aref ruqaa, serif;
  color: #8C1717;
  text-align: center;
  font-size: 14pt;
}

#player_message {
  font-family: Aref ruqaa, serif;
  color: #8C1717;
  text-align: center;
  font-size: 14pt;
  position: relative;
  bottom: 380px;
}

#button {
  padding: 80px;
  text-align: center;
  position: relative;
  bottom: 300px;
}

#button p {
  background-color: rgba(255, 255, 255, .6);
  font-family: Aref ruqaa, serif;
  color: #8C1717;
  text-align: center;
  font-size: 1.5em;
  width: 250px;
  margin: 0px auto 10px auto;
}

#game_button {
  width: 250px;
  height: 250px;
}

.table_title {
  font-family: Raleway;
  color: #5D5D5D;
  text-align: center;
  font-size: 24pt;
}

.page_button {
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
  bottom: 150px;
  background-color: #8C1717;
  width: 330px;
  height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-family: sans-serif;
  font-size: 12pt;
  border: none;
  box-shadow: 5px 5px 3px #5C5C5C;
}


#top_players_table {
  background-color: rgba(255, 255, 255, .6);
  font-family: Raleway;
  color: #5D5D5D;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 10px 80px 30px 80px;
  position: relative;
  bottom: 200px;
}

#players_stats_table {
  background-color: rgba(255, 255, 255, .6);
  padding: 10px;
  font-family: Raleway;
  color: #5D5D5D;
  text-align: center;
  margin: 0px auto 0 auto;
  padding: 10px 80px 60px 80px;
  position: relative;
  bottom: 400px;
}

table {
  margin: 0 auto;
  padding-bottom: 30px;
  border-collapse: collapse;
}

thead {
  font-family: Raleway;
  color: #5D5D5D;
  font-size: 14pt;
}

th {
  width: 100px;
  border-bottom: 1px solid #8C1717;
}

td {
  border-bottom: 1px solid gray;
}

tbody {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px
}

img {
  width: 300px;
  height: 300px;
  background-color: #D9D9D9;
}

#main_about {
  width: 960px;
  margin: 0px auto 300px auto;
  background-color: rgba(255, 255, 255, .8);
  position: relative;
  bottom: 350px;
}

#lore {
  margin: 0px 10px;
  text-align: justify;
}

main h2 {
  margin: 60px 10px 5px 10px;
  padding-top: 10px;
}

.developer_bio {
  float: left;
  margin: 10px;
}

.developer_name {
  background-color: #8C1717;
  width: 300px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-family: sans-serif;
}

.description {
  float: left;
  margin-left: 5px;
  width: 295px;
  text-align: justify;
}

.clear_fix {
  clear: left;
}

#donate_button {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 160px;
  background-color: #8C1717;
  width: 150px;
  height: 60px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-family: sans-serif;
  font-size: 18pt;
  border: none;
  box-shadow: 5px 5px 3px #5C5C5C;
}

/*game (index) page*/
#game_elements {
  width: 960px;
  margin: 0px auto 300px auto;
  background-color: rgba(255, 255, 255, .8);
  position: relative;
  bottom: 350px;
  overflow: auto;
  height: 550px;
/* overflow: auto and height: 820 currently keep the game_elements from becoming a scroll window*/
}

canvas {
  outline: 1px solid red;
  width: 400px;
  float: left;
}

#display_player_array {
  font-family: 'Raleway', sans-serif;
  font-size: 50pt;
}

#display_guesses_remaining {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  margin-top: 15px;
}

#letter_buttons {
    margin: 15px 0px;
}

.letter_button {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  color: black;
  background-color: rgba(255, 255, 255, .7);
  width: 38px;
  height: 38px;
  border-color: #5c5c5c;
  border-radius: 5px;
  text-align: center;
  margin: 3px 0px;
}

#end_of_game_msg {
  font-family: 'Raleway', sans-serif;
  font-size: 36pt;
  letter-spacing: 0.05em;
  text-align: center;
  text-shadow: -3px 3px 0px #D9D9D9;
  width: 560px;
  float: right;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .6);
}

.game_button {
  font-family: 'Raleway', sans-serif;
  font-size: 28pt;
  border: none;
  margin-right:20px;
  width:  210px;
  height: 50px;
  padding: 0px;
  border-radius: 10px;
  text-align: center;
  /*float: left;*/
  /*display: inline-block;*/
}

#play_again_btn {
  display: inline-block;
  float: left;
}

#instruction_wrapper {
  width: 195px;
  height: 50px;
  display: inline-block;
}

#instruction_wrapper .instruction_text {
  visibility:hidden;
}

#instruction_wrapper .game_button:hover + .instruction_text {
  visibility: visible;
}

.instruction_text {
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  width: 300px;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  line-height: 1.25em;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}
